spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/inxinfo
    username: postgres
    password: ${DB_PASSWORD:root}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: YOUR_LOCAL_CLIENT_ID
            client-secret: YOUR_LOCAL_SECRET
            scope:
              - email
              - profile

app:
  upload:
    profile-pic-path: uploads/profile-pics
