spring:
  datasource:
    url: jdbc:mysql://localhost:3306/authdb
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    oauth2:
      client:
        registration:
            google:
               client-id: YOUR_CLIENT_ID
               client-secret: YOUR_SECRET
               scope:
                 - email
                 - profile
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB
                
app:
  upload:
    profile-pic-path: uploads/profile-pics			   